<form method="POST" action="/home/listpost">
    <div class="well">
        <h3>Person 1</h3>
        <input type="text" name="people[0].name" placeholder="Person 1 Name" class="form-control"/>
        <br/>
        <input type="text" name="people[0].age" placeholder="Person 1 Age" class="form-control"/>
        <br/>
    </div>

    <div class="well">
        <h3>Person 2</h3>
        <input type="text" name="people[1].name" placeholder="Person 2 Name" class="form-control" />
        <br/>
        <input type="text" name="people[1].age" placeholder="Person 2 Age" class="form-control" />
        <br/>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>